<ion-content>

  <ion-slides [options]="slideOpts">

    <ion-slide *ngFor="let pelicula of peliculasNuevas">
      <ion-card>
          <IonCardHeader>
            <IonCardTitle><h1>{{ pelicula.title }}</h1></IonCardTitle>
          </IonCardHeader>
          <img [src]="pelicula.backdrop_path | imagen">
          <br>
          <IonCardContent>
            <h5><strong>Fecha de lanzamiento: </strong>{{ pelicula.release_date }}</h5>
            <p><strong>Descripción: </strong>{{ pelicula.overview }}</p>              
          </IonCardContent>
        </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>