<ion-content>

  <ion-slides>

    <ion-slide *ngFor="let pelicula of peliculasNuevas">
      <IonCard class="card">
          <IonCardHeader>
            <IonCardTitle><h1>{{ pelicula.title }}</h1></IonCardTitle>
          </IonCardHeader>
          <br>
          <IonCardContent>
            <h5><strong>Fecha de lanzamiento: </strong>{{ pelicula.release_date }}</h5>
            <p><strong>Descripción: </strong>{{ pelicula.overview }}</p>              
          </IonCardContent>
        </IonCard>
    </ion-slide>

  </ion-slides>

</ion-content>